.bodyClass {
  height: 100vh;
  overflow-y: hidden;
}
.main-container{
  max-width: 1720px;
  margin: auto;
  background-color: white;
}
.nav {
  padding: 10px 0px;
  background-color: white !important;
  box-shadow: 0 -3px 4px 0 rgb(41, 41, 44, 0.2),0 -3px 16px 0 rgb(26, 26, 27,0.2)
}

nav .logo img{
  position: relative;
  width: 71px;
  margin-top: -17px;
}

.imageContainer{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  overflow-y: scroll;
  height: 89vh;
}
.imageContainer img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.imgfit {
  width: 100%;
  height: 100%;
}
.container {
  margin-top: 3vh;
  height: 80vh;
  width: 678px;
  display: none;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icons{
  position: absolute;
  width: 84px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 23px;
  cursor: pointer;
}

#input{
  width: 350px;
  height: 42px;
  box-shadow: 0px 0px 10px #738B95;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 4px;
}

#btn1{
  color: white;
  background-color: #738B95 !important;
}
#btn2{
  font-size: 1.3rem;
  background-color: white;
  color:#738B95;
  box-shadow: 0px 0px 10px rgba(128, 126, 126, 0.952);

  padding: 10px;
  border-radius: 10px;
  display: none;
  margin-left: 20px;
  cursor: pointer;
}

@media screen and (max-width:800px) {
  .imageContainer{
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:700px) {
  nav .logo img{
    position: relative;
    width: 51px;
    margin-top: -17px;
  }
  .imageContainer{
    grid-template-columns: auto;
  }
  #input{
    width: 300px;
  }
  .search-btn{
    display: none;
  }
  #btn2{
    display: inline-grid;
  }
}

@media screen and (max-width:500px) {
  nav .logo img{
    position: relative;
    width: 31px;
    margin-top: 3px;
  }
  #input{
    width: 200px;
  }
}