.bodyClass {
  height: 100vh;
  overflow-y: hidden;
}
.nav {
/* background-color: rgb(14, 13, 13); */
  /* height: 9vh; */
  height: 70px;
  background-color: rgb(255, 132, 0) !important;
  box-shadow: 0 -3px 4px 0 rgb(41, 41, 44, 0.2),0 -3px 16px 0 rgb(26, 26, 27,0.2)
}

.imageContainer{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  overflow-y: scroll;
  height: 89vh;
}
.imageContainer img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.imgfit {
  width: 100%;
  height: 100%;
}
.container {
  margin-top: 3vh;
  height: 80vh;
  width: 678px;
  display: none;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icons{
  position: absolute;
  width: 84px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 23px;
  cursor: pointer;
}


@media screen and (max-width:800px) {
  .imageContainer{
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width:500px) {
  .imageContainer{
    grid-template-columns: auto;
  }
}