.bodyClass {
  height: 100vh;
  overflow-y: hidden;
}
.nav {
/* background-color: rgb(14, 13, 13); */
  height: 9vh;
  box-shadow: 0 -3px 4px 0 rgb(41, 41, 44, 0.2),0 -3px 16px 0 rgb(26, 26, 27,0.2)
}
/* .imageContainer {
  margin-top: 2vh;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 350px;
  grid-auto-flow: dense;
  height: 89vh;
  overflow-y: scroll;
} */
.imageContainer{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  overflow-y: scroll;
  height: 89vh;
}
.imageContainer img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  /* overflow-y: scroll; */
}
/* .imageContainer .imgDiv {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageContainer .imgDiv img {
  width: 100%;
  height: 100%;
} */
.imgfit {
  width: 100%;
  height: 100%;
}
.container {
  margin-top: 3vh;
  height: 80vh;
  width: 678px;
  display: none;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  /* -webkit-transform: translate(-50%); */
  transform: translate(-50%, -50%);
}
.icons{
    position: absolute;
    width: 84px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 23px;
    cursor: pointer;
}